.mixin.out/
/config/
controllable_natives/
crash-reports/
/defaultconfigs/
debug/
downloads/
/data/
kiwipacks/
/local/
logs/
saves/
/moddata/
screenshots/
shaderpacks/
schematics/
xaero/
XaeroWaypoints*/
mods/.connector/


command_history.txt
fabricloader.log
patchouli_data.json
servers.dat
servers.dat_old

usercache.json
usernamecache.json

*.disabled
