.mixin.out/
config/
downloads/
local/
logs/
saves/
screenshots/
xaero/
XaeroWaypoints*/
mods/.connector/


command_history.txt
fabricloader.log
patchouli_data.json
servers.dat
servers.dat_old

usercache.json
usernamecache.json

*.disabled
